@tailwind base;
@tailwind components;
@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

li {
    list-style: none;
}
body {
    @apply bg-neutral-900/95 text-slate-100 ;
}

input[type=radio]#green {
    background: green;
}
input[type=radio]#blue {
    background: dodgerblue;
}input[type=radio]#red {
     background: red;
 }input[type=radio]#yellow {
      background: yellow;
  }input[type=radio]#pink {
       background: deeppink;
   }input[type=radio]#orange {
        background: orange;
    }
